<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}News portal{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% stylesheets
        '@AppBundle/Resources/public/css/bootstrap.css'
        '@AppBundle/Resources/public/css/rate_plugin.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
        '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}






    </head>
    <body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="{{ path('homepage') }}">News portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ (news is defined ? news == 'homepage') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item {{ (news is defined ? news == 'sport') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('sport') }}">Sport</a>
                </li>
                <li class="nav-item {{ (news is defined ? news == 'culture') ? 'active' : '' }}">
                    <a class="nav-link" href="{{ path('tech') }}">Tech</a>
                </li>
            </ul>
            <input id="test-ip" value="192.168.1.1">
        </div>
    </nav>



        {% if app.flashes %}
        {# pass an array argument to get the messages of those types  #}
        {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <br>
        {% endif %}
    
    {% block body %}{% endblock %}


    {% javascripts
    '@AppBundle/Resources/public/js/popper.min.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}



    </body>
</html>
