{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="card sb-card">
        <div class="card-body">
            <div class="hero-unit center">
                <h1>Oh snap! <small><font face="Tahoma" color="red">Error {{ status_code }}</font></small></h1>
                <br>
                <p>Something went wrong.</p>
                <p>Contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have previously come from</p>
                <p><b>Or you could just press this neat little button:</b></p>
                <a href="{{ path('homepage') }}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
