{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="jumbotron">
            <div class="card sb-card">
                <div class="card-body">
                    <div class="col-md-6">
                        <img class="img-responsive  float-md-left img-thumbnail" style="margin-right: 10px;" src="{{ asset('img/liverpool.jpg') }}" alt="Sport - goal" >
                    </div>
                    <div class="col-md-12">
                        <h1>Liverpool will not appeal Sadio Mane red card as Jurgen Klopp insists it is a 'waste of time, just like the game'</h1>
                        <p>Jurgen Klopp says he will not be appealing Sadio Mane’s red card from the 5-0 defeat to Manchester City, saying it would be “another waste of time, like the game”, as he also stated the forward is “very, very, very upset”.  </p>
                        <p>Mane was sent off by referee Jon Moss after 36 minutes when he caught goalkeeper Ederson’s head with a high foot when both went for a loose ball. While Klopp would not say whether he agreed with the decision, he said it was “an accident” and “very unlucky”.</p>
                        <p>“It never works,” the German said of any appeal. “It would be another waste of time, like the game today.</p>
                        <p>5 things we learned as City thrash 10-man Liverpool</p>
                        <p>“It was an accident. [Mane] is very unlucky. The situation I think everyone knows he didn’t see the goalie. There was not one second he looks on the goalie. He just wanted to get the ball as soon as possible. Hopefully the goalie is not seriously injured.</p>
                        <p>“Sadio is very, very, very upset. He is shocked about the decision and I am sure also about the situation… I am sure enough will find enough reasons to say it was the right decision.”</p>
                        <p>Philippe Coutinho was not in Klopp’s squad despite scoring for Brazil in the international break, and the German dodged questions as to whether the attacker would be in the team for the midweek Champions League match against Sevilla at Anfield. The Liverpool manager instead expressed surprise the game was not on Tuesday.</p>
                        <p>10 debuts to look out for in the Premier League</p>
                        <p>“We play Wednesday. One day more. Good. Yes.”</p>
                        <p>As regards the general performance, Klopp said he was disappointed Liverpool didn’t take their chances when it was 11 against 11, and lamented the amount of space his side gave up. The general impression was that he didn’t think there was too much to read into the game, though, as he said he will try to “ignore the result” since “one man down against City, it is really not the best place to be”.</p>
                        <p>“I really expect from us that we are much stronger in the first half hour. Both teams did not defend really well. Both teams were not compact. We had a lot of chances, with two yellow cards [for City] on the 18-yard line. It was in a lot of moments very unlucky for us. We cannot change luck but we can change performance. I said at half-time that I thought it we were completely spot on, I know it is difficult after the international break, but I thought we could have - should have - been in the lead in the first half and the 1-0 when it was 11 versus 11, and that is a moment when we are in possession, everything is good. City didn’t play too high pressure.</p>
                        <div style="display: inline-block;" id="web-rating-plugin">Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% javascripts
    '@AppBundle/Resources/public/js/rating.js'
    '@AppBundle/Resources/public/js/rating_site.js'
    output='js/compiled/ratings.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
