{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="jumbotron">
            <div class="card sb-card">
                <div class="card-body">
                    <div class="col-md-6">
                        <img class="img-responsive  float-md-left img-thumbnail" style="margin-right: 10px;" src="{{ asset('img/snes.jpg') }}" alt="Sport - goal" >
                    </div>
                    <div class="col-md-12">
                        <h1>New Nintendo console is so popular people's orders are being cancelled'</h1>
                        <p>Nintendo's upcoming SNES Mini is so popular that some people are having their orders cancelled.</p>
                        <p>The retro console was announced earlier this month and is the second of Nintendo's attempts to revive its old consoles and games for new and old audiences.</p>
                        <p>But just like the NES Classic Edition that came before it, it's all but impossible to actually buy the console. Every major websites and shop – including big places like Game and Amazon – have sold out and aren't offering the opportunity to snap up new ones.</p>
                        <p>It appears that popularity is such that people are even having consoles they bought taken off them. Fans are reporting online that they have received emails from Amazon saying that they can only buy one console each – and so orders that included more than one will be reduced to just one.</p>
                        <p>The emails say there has been a "a change to the availability of this item" and that it has been adjusted to include just one unit. "We understand this isn't what you expected when you placed your order and apologise for the inconvenience," the email concludes.</p>
                        <p>The move appears to be an attempt to allow more people to buy the machine, and to stop people who buy the consoles online and then sell them on at hugely inflated prices. In the wake of recent other re-issues from Nintendo – as well as the Switch, which is also in short supply – touts have flocked online to sell off the consoles.</p>
                        <p>People are already attempting to sell pre-ordered SNES Minis for as much as L150, despite the fact the console only sells for L69.99.</p>
                        <p>Nintendo says that it will sell more of the SNES than the NES, though the latter appeared to be made in tiny volumes. It said that it will only be selling them this year, and couldn't confirm whether it would be making more after 2017.</p>
                        <p>The console will start shipping in September</p>
                        <div style="display: inline-block;" id="web-rating-plugin">Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% javascripts
    '@AppBundle/Resources/public/js/rating.js'
    '@AppBundle/Resources/public/js/rating_site.js'
    output='js/compiled/ratings.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
