.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 14em;

}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;

}

.rating > label:before {
    position: relative;
    font: 24px/1 FontAwesome;
    display: inline-block;
    content: "\f005";
    color: #ccc;
    background: -webkit-linear-gradient(-45deg, #d9d9d9 0%, #b3b3b3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #f0ad4e;
    background: -webkit-linear-gradient(-45deg, #8cdaff 0%, #1c5d96 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating-clear{
    width: 20px;

    font-weight: 500;
    padding: 3px;
    display: none;
    color: #6E6E6E;

}

.rating-clear:hover{
    color: #bd2130;
}

.rating-score-info{

    width: 20px;
    text-align: center;
    border: 1px solid #e2e2e2;
    box-shadow: 1px 1px 0px #888888;
    font-size: 9pt;
    display: none;
    color: #424141;

}

.rating-score-total
{
    display: inline-block;
    width: 32px;
    border: 1px solid #e0e0e0;
    padding: 3px;
    font-size: 10pt;
    text-align: center;
    color: #6E6E6E;
    vertical-align: text-bottom;
}

.rating-score-holder{
    display: inline-block;
    margin-left: 5px;

}