{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container">
        <div class="jumbotron">
            <div class="card sb-card">
                <div class="card-body">
                    <div class="col-md-12">
                        <h1>Homepage</h1>
                        <p>Welcome to my test page.</p>
                        <p>Please select one of the news categories from the menu.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
